<!DOCTYPE html>
<html>

<head>
    <title>Task 2 - Total Stock</title>
</head>

<body>
    <h2>إجمالي مخزون الكتب لكل ناشر (Annotations)</h2>
    <table border="1">
        <tr>
            <th>اسم الناشر</th>
            <th>إجمالي المخزون (Total Stock)</th>
        </tr>
        {% for pub in publishers %}
        <tr>
            <td>{{ pub.name }}</td>
            <td>{{ pub.total_stock|default:"0" }}</td>
            <td>
                <ul>
                    {% for book in pub.lab9_book_set.all %} <li>
                        {{ book.title }} - المؤلفين:
                        {% for author in book.authors.all %} {{ author.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>